.root {
    fx-border-width: 1px;
    -fx-border-color: #FFF;
    -fx-background-color: linear-gradient(to bottom, #FFF 0%, #CECECE 40.19%, rgba(150, 181, 151, 0.80) 64.11%, rgba(38, 136, 42, 0.50) 100%);
}

.login-btn {
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 90;
    -fx-pref-height: 90;
    -fx-background-image: url('./../Images/loginButton.png');
}

.gray-text {
    -fx-text-fill: red;
}

